.cardPositionnement {
  display: flex;
  justify-content: center;
}

.btnCategory {
position: absolute;
right: 0;
margin: 1rem;
}
.cardCreate {
  background-color: #FAC9B8;
  width: 90%;
  height: 70vh;
  border-radius: 15px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.inputStyle {
  width: 40%;
  height: 3vh;
  border-radius: 15px;
  border: none;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #B6F9C9;
}
.inputStyle::placeholder {  
	text-align: center; 
  color: #5D5179;
}


.imgUploaded {
  width: 30%;
  height: 30%;
}
.btnPositionnement {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  
}

.twoInputLign {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

